{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="card mx-auto" style="max-width: 420px;">
        <h3 class="mb-4">Log In</h3>
        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary w-100" type="submit">Log In</button>
        </form>
    </div>
{% endblock %}